<mat-card>
  <mat-card-content>
    <mat-action-list>
      <button mat-list-item *ngFor="let query of queries" (click)="onNewQuery(query)">
        {{ query }}
      </button>
    </mat-action-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>ngx-trivia-api</mat-card-title>
    <!--<mat-card-subtitle>...</mat-card-subtitle>-->
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <ngx-trivia-api [query]="currentQuery"></ngx-trivia-api>
  </mat-card-content>
</mat-card>
